
.cache/v/cache/lastfailed
__pycache__/sensor_generator.cpython-36.pyc
__pycache__/test_temperature_sensor.cpython-36-PYTEST.pyc
.pydevproject
.project
__pycache__/sensor_generator.cpython-35.pyc
*.pyc
